body{
    font-family: 'Oxygen', sans-serif;
    margin: 0
}

.navbar{
    background-image: url(../imgs/navbar.jpg);
}

#Hero-Section{
    background-image: url("../imgs/backimg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

span{
    color: rgb(242, 32, 9);
}

#Acerca-de-mi .card{
    border-color: crimson;
}

#Repositorios{
    background-image: url(../imgs/brown.jpg);
    background-size: cover;
}

#Repositorios .card{
    border-color: rgb(0, 0, 0);
}

#Herramientas{
    background-image: url(../imgs/sky.jpg);
    background-size: cover;
}

footer{
    background-image: url(../imgs/footer.jpg);
    background-size: cover;
}

footer h5{
    margin: 0;
}